<% @questions.each do |question|%>
  <div class="card w-90">
    <a href="#">
      <div class="card-body">
        <div class="col-md-7">
          <h5 class="card-title"><%= question.title %></h5>
        </div>
        <div class="col-md-5">
          <p class="card-time"> <%= question.created_at.strftime("質問日 %Y年%m月%d日") %></p>
        </div>
      </div>
    </a>
  </div>
<% end %>
