@import "bootstrap/scss/bootstrap";

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

// awsテキスト教材
#container {
  margin: 0 auto;
  padding: 50px 0 160px 0;
}

#container h1 {
  font-size: 30px;
  padding: 20px 0 10px 0;
}

#container p {
  font-size: 17px;
  width: 710px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.text-center {
  text-align: center;
}

.table-container {
  width: 710px;
  margin: 0 auto;
}

.aws-table-head {
  background-color: #5d99ff;
}

.w-1 {
  width: 10%;
}

.w-5 {
  width: 50%;
}

// awsテキスト詳細ページ
.aws_content {
  width: 710px;
  margin: 0 auto;
}

// 動画教材ページ
.text-center {
  text-align: center;
}

.movie-title {
  font-size: 20px;
}

.movie-contents {
  padding-bottom: 70px;
}

.pagination {
  justify-content: center;
  padding-bottom: 140px;
}

.card {
  display: block;
  border: 2px solid black;
  border-radius: 8px;
  margin: 60px 0;
  transition-duration: 0.7s;
}

.card:hover {
  opacity: 0.7;
  transform: translateY(-5px);
}

.card-body {
  display: flex;
}

.card > a {
  text-decoration: none;
  color: black;
}

.card-title {
  font-size: 22px;
}

.card-time {
  color: #a9a9a9;
  text-align: right;
  font-size: 17px;
}

// フラッシュ
.alert {
  text-align: center;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

// questionページ
.question-container {
  width: 710px;
}

.question-container h1 {
  padding: 20px 0 10px 0;
  font-size: 30px;
}

.question-title,
.question-detail {
  display: block;
}

.form-control {
  display: block;
}
